/Clase2/nbproject/private/
/Clase2/build/
/Clase 4/nbproject/private/
/Clase 4/build/
/Clase 5/nbproject/private/
/Clase 5/build/
/Clase 6/nbproject/private/
/Clase 6/build/
/Clase 7/nbproject/private/
/Clase 7/build/
/Clase 8/nbproject/private/
/Clase 8/build/
/Clase 9/nbproject/private/
/Clase 9/build/
/Clas  10/nbproject/private/
/basico 05-06/Clase 1/nbproject/private/
/basico 05-06/Clase 1/build/
/basico 05-06/Ejercicio 1/nbproject/private/
/basico 05-06/Ejercicio 1/build/
/basico 05-06/Clase 2/nbproject/private/
/basico 05-06/Clase 2/build/
/basico 05-06/Clase 3/nbproject/private/
/basico 05-06/Clase 3/build/
/basico 05-06/Clase 4/nbproject/private/
/basico 05-06/Clase 4/build/